<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'User List', users_path %></li>
  <li><%= link_to 'Add New User', new_user_path %></li>
</ul>

<section class="container">
  <h2>User List</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-1">Pic</th>
        <th class="col-md-3">Handle</th>
        <th class="col-md-3">Email</th>
        <th class="col-md-3">Planet</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td></td>
          <td><%= link_to user.handle, user %></td>
          <td><%= user.email %></td>
          <td><%= user.planet.name %></td>
          <td><%= link_to 'Edit', edit_user_path(user),
                  :class => 'btn btn-default btn-xs' %></td>
          <td>
            <%= link_to 'Delete', user, method: :delete,
                data: { confirm: 'Are you sure?' },
                :class => 'btn btn-danger btn-xs' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>