<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'User List', users_path %></li>
  <li>
  	<%= link_to 'Edit this user record', edit_user_path(@user) %>
  </li>
</ul>

<section class="container">

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Handle:</strong>
	  <%= @user.handle %>
	</p>

	<p>
	  <strong>Password:</strong>
	  (hidden)
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>

	<p>
	  <strong>Planet:</strong>
	  <%= @user.planet.name %>
	</p>

</section>
