<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View Star Systems', star_systems_path %></li>
  <li><%= link_to 'Add New Star System', new_star_system_path %></li>
</ul>

<section class="container">
  <h2>List of Star Systems</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-10">Name</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @star_systems.each do |star_system| %>
        <tr>
          <td><%= link_to star_system.name, star_system %>
          </td>
          <td><%= link_to 'Edit', edit_star_system_path(star_system),
                  :class => 'btn btn-mini btn-success' %>
          </td>
          <td>
            <%= link_to 'Delete', star_system, method: :delete,
                  data: { 
                    confirm: "Are you sure you want to delete #{star_system.name}?" },
                  :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

