<%= form_for @planet, html: {:class => 'form-horizontal'} do |f| %>

	<% if @planet.errors.any? %>
	<div id="error_explanation">
		<h3>
			<%= pluralize(@planet.errors.count, "error") %> prevented storing this planet:
		</h3>
		<ul>
			<% @planet.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="row">
	  <div class="field form-group">
	    <%= f.label "Planet Name", :class => 'col-sm-2 control-label' %>
	    <div class="col-sm-7">
	    	<%= f.text_field :name, :class => 'form-control' %>
	    </div>
	  </div>
  </div>
	<div class="row">
	  <div class="field form-group">
	    <%= f.label "Diameter (km)",
	    						:class => 'col-sm-2 control-label' %>
	    <div class="col-sm-3">
	    	<%= f.text_field :diameter, :class => 'form-control' %>
	    </div>
	  </div>
  </div>
	<div class="row">
	  <div class="field form-group">
	    <%= f.label "Orbital Position",
	    						:class => 'col-sm-2 control-label' %>
	    <div class="col-sm-3">
	    	<%= f.text_field :orbit, :class => 'form-control' %>
	    </div>
	  </div>
  </div>
	<div class="row">
	  <div class="field form-group">
	    <%= f.label :star_system, :class => 'col-sm-2 control-label' %>
	    <div class="col-sm-3">
	    	<%= f.select :star_system_id,
	    							StarSystem.all.collect {|s| [ s.name, s.id ] },
	    							{prompt: 'Select Star System'},
	    							{:class => 'form-control'} %>
	    </div>
	  </div>
  </div>
	<div class="row">
	  <div class="actions form-group">
	    <div class="col-sm-offset-2 col-sm-3">
	    	<%= f.submit nil, :class => "btn btn-primary" %>
	    </div>
	  </div>
  </div>
<% end %>
