<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View Planets', planets_path %></li>
  <li><%= link_to 'Add new planet', new_planet_path %></li>
</ul>

<section class="container">
	<p id="notice"><%= notice %></p>
	<h2>List of Planets by Star System</h2>
	<% @star_systems.each do |star| %>
		<h4><%= star.name %> System:</h4>
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				<table class="table table-striped">
					<thead>
					  <tr>
					    <th class="col-md-2">Name</th>
					    <th class="col-md-2">Diameter</th>
					    <th class="col-md-2">Orbit</th>
					    <th class="col-md-2">Users</th>
					    <th class="col-md-1"></th>
					    <th class="col-md-1"></th>
					    <th class="col-md-1"></th>
					  </tr>
					</thead>
					<tbody>
					  <% star.planets.each do |planet| %>
					    <tr>
					    	<% #binding.pry if planet.name == "Mars" %>
					    	<% if planet.diameter > 10000 %>
					      	<td><strong><%= link_to planet.name, planet %></strong></td>
					      <% else %>
					      	<td><%= link_to planet.name, planet %></td>
					      <% end %>
					      <td><%= planet.diameter %></td>
					      <td><%= planet.orbit %></td>
					      <td><%= User.where(planet: planet).count %></td>
					      <td><%= link_to 'Edit', edit_planet_path(planet),
					      				:class => 'btn btn-default btn-xs' %></td>
					      <td><%= link_to 'Copy',
					      				{ action: "copy", id: planet.id },
					      				method: :post,
					      				:class => 'btn btn-default btn-xs' %></td>
					      <td>
					      	<%= link_to 'Delete', planet, method: :delete,
					      				data: { confirm: "Are you sure you want to delete #{planet.name}?" },
					      				:class => 'btn btn-danger btn-xs' %>
					      </td>
					    </tr>
					  <% end %>
				  </tbody>
				</table>
			</div>
		</div>
	<% end %>
</section>
