<html>
<head>
	<title>List of Planets</title>
</head>
<body>
	<h2>List of Planets</h2>

	<table>
	  <tr>
	    <th>Name</th>
	    <th>Diameter</th>
	  </tr>
	 
	  <% @planets.each do |planet| %>
	    <tr>
	    	<% if planet.diameter > 10000 %>
	      	<td><strong><%= link_to planet.name, planet %></strong></td>
	      <% else %>
	      	<td><%= link_to planet.name, planet %></td>
	      <% end %>
	      <td><%= planet.diameter %></td>
	      <td><%= button_to 'Edit', edit_planet_path(planet), method: :get %></td>
	      <td>
	      	<%= button_to 'Delete', planet, method: :delete,
	      				data: { confirm: "Are you sure you want to delete #{planet.name}?" } %>
	      </td>
	      <td>
	      	<%= button_to 'Copy', { action: "copy", id: planet.id } %>
	      </td>
	    </tr>
	  <% end %>
	</table>

	<p></p>

	<%= link_to 'Add new planet', new_planet_path %>
</body>
</html>