<html>
<head>
	<title>List of Planets</title>
</head>
<body>
	<h2>List of Planets</h2>

	<table>
	  <tr>
	    <th>Name</th>
	    <th>Diameter</th>
	  </tr>
	 
	  <% @planets.each do |planet| %>
	    <tr>
	      <td><%= link_to planet.name, planet %></td>
	      <td><%= planet.diameter %></td>
	      <td><%= link_to 'Edit', edit_planet_path(planet) %></td>
	      <td>
	      	<%= link_to 'Delete', planet, method: :delete,
	      				data: { confirm: 'Are you sure?' } %>
	      </td>
	    </tr>
	  <% end %>
	</table>

	<p></p>

	<%= link_to 'Add new planet', new_planet_path %>
</body>
</html>