<html>
<head>
	<title>Add new planet</title>
</head>
<body>
	<h2>Add new planet</h2>

	<%= form_for :planet, url: planets_path do |f| %>
	  <p>
	    <%= f.label :name %><br>
	    <%= f.text_field :name %>
	  </p>
	 
	  <p>
	    <%= f.label :diameter %><br>
	    <%= f.text_field :diameter %>
	  </p>
	 
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>

	<%= link_to 'Back to Planet Index', planets_path %>
</body>
</html>