<html>
<head>
	<title>Planet Information</title>
</head>
<body>
	<h2>Planet Information</h2>

	<p>
	  <strong>Name:</strong>
	  <%= @planet.name %>
	</p>
	 
	<p>
	  <strong>Diameter:</strong>
	  <%= @planet.diameter %>
	</p>

	<p>
	  <strong>Record created:</strong>
	  <%= @planet.created_at.getlocal.strftime("%I:%M:%S%p on %m/%d/%Y") %>
	</p>

	<p>
	  <strong>Record last modified:</strong>
	  <%= @planet.updated_at.getlocal.strftime("%I:%M:%S%p on %m/%d/%Y") %>
	</p>

	<%= link_to 'Edit this planet record', edit_planet_path(@planet) %>
	| <%= link_to 'Return to Planet Index', planets_path %>
</body>
</html>