<section class="container">
	<h2>Planet Information</h2>

	<p>
	  <strong>Name:</strong>
	  <%= @planet.name %>
	</p>
	 
	<p>
	  <strong>Diameter:</strong>
	  <%= @planet.diameter %>
	</p>

	<p>
	  <strong>Star System:</strong>
	  <%= @planet.star_system.name %>
	</p>

	<p>
	  <strong>Orbital Position:</strong>
	  <%= @planet.orbit %>
	</p>

	<p>
	  <strong>Record created:</strong>
	  <%= @planet.created_at.getlocal.strftime("%I:%M:%S%p on %m/%d/%Y") %>
	</p>

	<p>
	  <strong>Record last modified:</strong>
	  <%= @planet.updated_at.getlocal.strftime("%I:%M:%S%p on %m/%d/%Y") %>
	</p>
</section>
<section class="container">
	<%= link_to 'Edit this planet record', edit_planet_path(@planet),
						:class => 'btn btn-mini btn-default' %>
	<%= link_to 'Return to Planet Index', planets_path,
						:class => 'btn btn-mini btn-default' %>
</section>
