<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View Planets', planets_path %></li>
  <li><%= link_to 'Edit this planet record', edit_planet_path(@planet) %></li>
</ul>

<section class="container">
	<p id="notice"><%= notice %></p>

	<h2>Planet Information</h2>

	<p>
	  <strong>Name:</strong>
	  <%= @planet.name %>
	</p>
	 
	<p>
	  <strong>Diameter:</strong>
	  <%= @planet.diameter %>
	</p>

	<p>
	  <strong>Star System:</strong>
	  <%= @planet.star_system.name %>
	</p>

	<p>
	  <strong>Orbital Position:</strong>
	  <%= @planet.orbit %>
	</p>

	<p>
	  <strong>Record created:</strong>
	  <%= @planet.created_at.getlocal.strftime("%I:%M:%S%p on %m/%d/%Y") %>
	</p>

	<p>
	  <strong>Record last modified:</strong>
	  <%= @planet.updated_at.getlocal.strftime("%I:%M:%S%p on %m/%d/%Y") %>
	</p>
</section>
